<div class="container">

  <form>
    <button type="submit" class="btn btn-primary" (click)="goBack()">BACK</button>
    <div class="form-group">
      <label for="studentName">Student Name</label>
      <input type="text" class="form-control" id="studentName" name="studentName"  [(ngModel)] = "formData.student_name"  placeholder="Student Name" [disabled]="true">
    </div>
    <div class="form-group">
      <label for="studentBatch">Student Batch</label>
      <input type="text" class="form-control" id="studentBatch" name="studentBatch" [(ngModel)] = "formData.student_batch"  placeholder="Student Batch" [disabled]="true">
    </div>
    <div class="form-group">
      <label for="studentCourse">Student Course</label>
      <input type="text" class="form-control" id="studentCourse" name="studentCourse" [(ngModel)] = "formData.student_course"  placeholder="Student Course" [disabled]="true">
    </div>
    <div class="form-group">
      <label for="studentAdress">Student Adress</label>
      <input type="text" class="form-control" id="studentAdress" name="studentAdress" [(ngModel)] = "formData.student_adress"  placeholder="Student Adress" [disabled]="true">
    </div>
  </form>

</div>
<router-outlet></router-outlet>
